@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
:root {
  --prim-font: 'Lexend Deca';
  --headline-font: 'Big Shoulders Display';
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --orange: hsl(31, 77%, 52%);
  --cyan: hsl(184, 100%, 22%);
  --dark-cyan: hsl(179, 100%, 13%);
  --very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 15px;
  font-family: var(--prim-font);
  background: var(--very-light-gray);
  color: var(--transparent-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  line-height: 24px;
  margin-bottom: 24px;
}

.outer {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 678px) {
  .outer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.wrapper {
  max-width: 920px;
  border-radius: .5rem;
  overflow: hidden;
  margin: 88px 24px;
}

@media screen and (min-width: 678px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
  }
}

.container {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .container {
    height: 500px;
  }
}

.container img {
  max-width: 66px;
}

.container--orange {
  background: var(--orange);
}

.container--orange .btn {
  color: var(--orange);
}

.container--cyan {
  background: var(--cyan);
}

.container--cyan .btn {
  color: var(--cyan);
}

.container--dark-cyan {
  background: var(--dark-cyan);
}

.container--dark-cyan .btn {
  color: var(--dark-cyan);
}

h3 {
  font-family: var(--headline-font);
  font-size: 2.5rem;
  color: var(--very-light-gray);
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-top: 40px;
}

.btn {
  border: 1px solid var(--very-light-gray);
  background: var(--very-light-gray);
  font-size: .95rem;
  font-family: var(--prim-font);
  padding: 1rem 2rem;
  border-radius: 2rem;
  top: auto;
  margin-top: auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn:hover {
  background: transparent;
  color: var(--very-light-gray);
}

.attribution {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-align: center;
  color: var(--dark-cyan);
  font-size: .75rem;
}
/*# sourceMappingURL=main.css.map */